{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery App | Adi creation</title>
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
</head>
<body>
        <nav class="navbar">
            <div class="logo_container">
                <div class="logo_img">
                    <img src="{% static 'icons/icons/icon-1.png'%}" alt="">
                </div>
                <div class="logo_name">
                  <h2><a href="{% url 'home'%}">Gallery App</a></h2>  
                </div>
            </div>
            <div class="menu__container">
                <ul class="menu__items">
                    <li class="menu__item"><a href="{% url 'home' %}">Home</a></li>
                    {% if request.user.is_active %}
                        <li class="menu__item "><a href="{% url 'user_panal' %}">UserPanal</a></li>
                        <li class="menu__item "><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li class="menu__item"><a href="{% url 'login'%}">Login</a></li>
                        <li class="menu__item"><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                      <li class="menu__item active"><a href="{% url 'Categories' %}">Categories</a></li>
                    <li class="menu__item"><a href="{% url 'authors' %}">Author's</a></li>
                    <li class="menu__item"><a href="{% url 'Contact' %}">ContactUS</a></li>
                </ul>
            </div>
            <div class="search__container">
                    <form action="" method="post" class="search__block">
                        {% csrf_token %}
                        <input type="search" name="search" placeholder="Search Here" title="Search" required />
                        <button type="submit" title="search button">Search</button>
                    </form>
            </div>
        </nav>
    <section class="category__section">
        <div class="category__heading_block">
            <h2 class="category__heading">Categories</h2>
            <p class="category__subheading">Experience the Exiting categories to Nature lover.</p>
        </div>
    <div class="all_categories">
        {% if categories %}
            {% for category in categories %}
                <div class="category" style="background-image:url({{category.cate_img.url}})">
                    <a href="/category-img/{{category.name}}" class="category__link">{{category.name}}</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    </section>


    <footer class="footer__section">
        <div class="upper__container">
            <div class="footer_upper_block">
                <img class="footer_logo" src="{% static 'icons/icons/icon-1.png'%}" alt="">
                <h2 class="footer_logo_name"> <a href="{% url 'home' %}">Gallery App</a></h2>
                <p class="footer__para">We Provide the best natural images with best quality.
                    we give the Experience of nature in our site. All The profit 
                    we earn through this we donate is nature , forest developement.
                </p>
            </div>
            <div class="footer_upper_block">
                <h2>Important Link</h2>
                <ul>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/feedback.png'%}" alt=""> <a href="/feedbacks">FeedBacks</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/telephone.png'%}" alt=""> <a href="{% url 'Contact' %}">Contact Us</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/coding.png'%}" alt=""> <a href="/about">About US</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/system.png'%}" alt=""> <a href="">Privacy Policy</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/customer-service-agent.png'%}" alt=""> <a href="">Services</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/connect.png'%}" alt=""> <a href="">Connect For Collaboration</a></li>
                </ul>
            </div>
            <div class="footer_upper_block">
                <h2>Top Links</h2>
                <ul>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/github.png'%}" alt=""> <a href="/about">Github</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/file.png'%}" alt=""> <a href="https://www.djangoproject.com/">Django</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/letter-a.png'%}" alt=""> <a href="/authors">Authors</a></li>
                    <li><img class="footer_list_img" src="{% static 'icons/footer-icons/donation.png'%}" alt=""> <a href="/about">Donate Us</a></li>
                </ul>

            </div>
        </div>
        <div class="footer__lower__container">
            <div class="left_lower_block">
                <p>@2021 All Rights are reserved to Adi Creation</p>
            </div>
            <div class="right_lower_block">
                <ul>
                    <li><a href="#"> <img class="share__icon" src="{% static 'icons/share_icon/instagram.png'%}"  title="instagram" alt=""></a> </li>
                    <li><a href="#"> <img class="share__icon" src="{% static 'icons/share_icon/facebook.png'%}" title="Facebook"  alt=""></a> </li>
                    <li><a href="#"> <img class="share__icon" src="{% static 'icons/share_icon/youtube.png'%}" title="youtube"  alt=""></a> </li>
                    <li><a href="#"> <img class="share__icon" src="{% static 'icons/share_icon/linkedin.png'%}" title="linkedin"  alt=""></a> </li>
                </ul>

            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>