{% load static %}
{% if image %}
<section class="model__section">
    <div class="close_model_btn">
        <button class="close__btn"> &times; </button>
    </div>
    <div class="model__container">
        <div class="left__model_block">
            <div class="model__image__block">
                <img src="{{image.img.url}}" class="model_main_img" alt="{{image.title}}">
            </div>
        </div>
        <div class="right__model_block">
            <div class="model__heading__section">
                <h2 class="image__heading">{{image.title}}</h2>
                <div class="other__details">
                    <p class="image__desc">View Description</p>
                    <p class="image__author">{{image.author.fname}} {{image.author.lname}} <strong>(Author)</strong></p>
                    <p class="image__category">Category : <strong> {{category.name}} </strong></p>
                </div>
                <div class="image__desc__container" style="display: none;">
                    <p class="desc__close">&times;</p>
                    <p></p>
                    <p class="image__desc__block">{{image.desc}}</p>
                </div>
            </div>
            <div class="model__btn__section">
                <div class="btn_block">
                    <button class="btn like_modelBtn">
                        <img src="{% static 'icons/icons/like.png'%}" alt=""> 
                        <p class="like_count">{{likes}}</p>Like
                    </button>
                </div>
                <div class="btn_block">
                    <a href="{{image.img.url}}" download="true" class="btn like_btn">
                        <img src="{% static 'icons/icons/cloud-computing.png' %}" alt="">Download </a>
                </div>
            </div>
            <div class="model__comment__section">
                <div class="model__comments">
                    <div class="comment__heading__section">
                         <h3 class="comment__heading">Related Comments</h3>
                    </div>
                    <div class="all__comments_container">
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="comment__block">
                                    <h4>{{comment.name}}</h4>
                                    <p>{{comment.content}}</p>
                                    {% if replys %}
                                        <div class="all__comment__replys">
                                        {% for reply in replys %}
                                            {% if reply.comment == comment %}
                                                <div class="comment__reply">
                                                    <h4>{{reply.author.fname}} {{reply.author.lname}} (Author)</h4>
                                                    <p>{{reply.content}}</p>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if author %}
                                        {% if image.author == author %}
                                            <div class="view__reply__block">
                                                <button class="view__reply__section">Send Reply</button>
                                            </div>
                                            <div class="send__reply__section" style="display:none">
                                                <input type="hidden" name="comment_id" class="rly_comment_id" value="{{comment.id}}" />
                                                <input type="hidden" name="author_id" class="rly_author_id" value="{{author.id}}" />
                                                <div class="comment__box">
                                                    <textarea name="reply_content" class="rly_content" cols="30" rows="10"></textarea>
                                                </div>
                                                <div class="comment__btn">
                                                    <button type="submit" class="submit__reply">Send Reply</button>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    </div>
                        <div class="model_send_comment_block">
                            <div class="comment__box">
                                <textarea name="comment" placeholder="send Comment" class="comment__content" cols="30" rows="10"></textarea>
                            </div>
                                <input type="hidden" value="{{image.id}}" class="image__id"/>
                            <div class="comment__btn">
                                <button class="send_comment_btn">Send</button>
                            </div>
                        </div>
                </div>
            </div>

    </div>
</section>
{% endif %}